body{
font-family: roboto;
background-color: rgba(228, 228, 228, 0.322);
}

.cards{
    transition: 0.5s;

}

.cards:hover{
    opacity: 80%;
    transform: scale(1.05);
    transition: 0.5s;
}

.btn-wpp{
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 82px;
    bottom: 30px;
    right: 30px;
    background-color:darkgreen;
    color: white;
    text-align: center;
    font-size: 55px;
    border-radius: 100%;
    
}

#tabla-precios{
    line-height: 49.4px;
}

#img-correo{
    transition: 0.5s;
}
#img-correo:hover{
    transition: 0.5s;
    transform: scale(1.04);
    opacity: 75%;

}